
.App {
  /* text-align: center; */
  background-color: white;
  min-height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: black;
  width: 60%;
}



.App-loader {
  background-color: white;
  align-items: center;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-loader-logo {
  height: 40vmin;
}

.App-logo {
  height: 10vmin;
}



/* Style the App-header with a grey background and some padding */
.App-header {
  overflow: hidden;
  padding: 20px 10px;
}

/* Style the  links */
.App-link {
  
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  

}

ul.App-nav li{
    display: inline;
    margin: 5px;
}

.App-link:hover {
  background-color: #4CAF50;
  color:white;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the App-header to increase when the font gets bigger */
.App-header a.logo {
  font-size: 25px;
  font-weight: bold;
}






/* Float the link section to the right */
.App-header-right {
  float: right;
}

 /* ------ start [table style] -------- */
 .App-table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.App-table td, .App-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.App-table tr:nth-child(even){background-color: #f2f2f2;}

.App-table tr:hover {background-color: #ddd;}

.App-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
/* ------ end [table style] -------- */

/* button group style */
.btn-group button {
  background-color: white; /* Green background */
  border: 1px solid green; /* Green border */
  color: green; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #4CAF50;
  
}
.btn-group button.App-btn-active {
  background:#4CAF50;
  color:white;
}

/* end button group */

.App-btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}



/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 800px) {
  .App{
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .App-header a {
    float: none;
    display: block;
    text-align: left;
  }
  .App-header-right {
    float: none;
  }

  .App{
    width: 100%;
  }
}